/*=======Home-Padge========*/
/*Genral-style*/
body {
  font-family: "Roboto", sans-serif; }

.contner {
  width: 95%;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.p-120 {
  padding: 120px 0; }

/*============nav==========*/
.navbar-brand img {
  width: 150px;
  height: 60px; }
.navbar-brand .logowihet {
  display: block; }
.navbar-brand .logoblack {
  display: none; }

.header-intero {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 199; }

.dropdown-toggle::after {
  content: none !important; }

.header-contenr .bg-light {
  background: transparent !important;
  padding: 10px 0px !important;
  border: 0px !important;
  border-radius: 0px !important; }
  .header-contenr .bg-light .nav-link {
    color: #ff9800;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block; }
  .header-contenr .bg-light .nav-link:hover {
    color: #ff9800 !important; }

.navbar_fixed {
  background-color: #fff !important; }
  .navbar_fixed .navbar-brand .logowihet {
    display: none; }
  .navbar_fixed .navbar-brand .logoblack {
    display: block; }

@media screen and (max-width: 800px) {
  .header-contenr .bg-light {
    background: rgba(193, 193, 193, 0.8) !important; }

  .navbar_fixed .bg-light {
    background-color: #fff !important; } }
/*=====header=====*/
.header-benner {
  background: url(../img/banner/home-banner.jpg) no-repeat scroll center center;
  background-size: auto;
  background-size: cover;
  width: 100%; }
  .header-benner .header-info {
    padding: 100px 0; }
  .header-benner .header-info .container {
    position: relative; }
  .header-benner .header-info .row {
    display: flex;
    flex-wrap: wrap;
    color: #fff; }
    .header-benner .header-info .row .dichead {
      align-self: center; }
      .header-benner .header-info .row .dichead .h1 {
        font-family: "Heebo", sans-serif;
        font-size: 36px;
        line-height: 45px;
        font-weight: 500; }
      .header-benner .header-info .row .dichead p {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        margin: 20px 0; }

.banner_btn {
  margin-right: 0px;
  display: inline-block;
  background: #ff9800;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 148px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ff9800;
  line-height: 48px;
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear 0s; }

.banner_btn:hover {
  background: transparent;
  color: #ff9800;
  text-decoration: none; }

i::before {
  font-size: 40px;
  color: #fff;
  margin-left: 0px; }

.flaticon-sofa::before {
  content: "\f104"; }

.home_right_box {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 180px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px; }
  .home_right_box .home_item {
    flex: 0 0 50%;
    color: #fff;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 150px;
    cursor: pointer;
    transition: all 300ms linear 0s; }
    .home_right_box .home_item span {
      font-size: 40px; }

.home_item:hover {
  background-color: #ff9800; }

.home_item:nth-child(2n + 1) {
  border-right: 1px solid rgba(255, 255, 255, 0.1); }

.home_item:nth-child(5),
.home_item:nth-child(6) {
  border-bottom: none; }

@media screen and (max-width: 800px) {
  .dichead {
    margin: 80px 0; }

  .home_right_box {
    margin: 90px 0; } }
@media screen and (max-width: 560px) {
  .home_right_box {
    display: none; } }
/*=====furnitures======*/
.furnitures {
  background: #f9f9ff;
  color: #222222; }
  .furnitures .furnitur-dec {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    .furnitures .furnitur-dec h2 {
      font-family: "Heebo", sans-serif;
      font-size: 36px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .furnitures .furnitur-dec p {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      margin: 20px 0 50px 0; }
  .furnitures .row {
    text-align: center; }
    .furnitures .row .card {
      border: 1px solid #f0eeee;
      max-width: 360px;
      margin: 0px auto 30px; }
      .furnitures .row .card .card-body {
        background-color: #f9f9ff; }
        .furnitures .row .card .card-body .card-title {
          font-weight: bold;
          transition: all 300ms linear 0.5s; }
        .furnitures .row .card .card-body .card-text {
          font-size: 14px;
          color: #777777; }

.card:hover .card-title {
  color: #ff9800; }

.furnt2 {
  background-color: #fff; }
  .furnt2 .feature_item {
    background: #f9f9ff;
    padding: 40px 40px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 300ms linear 0.5s;
    cursor: pointer; }
    .furnt2 .feature_item h4 {
      font-size: 20px;
      color: #222222;
      margin-bottom: 20px;
      text-transform: uppercase;
      transition: all 300ms linear 0.5s;
      position: relative;
      padding-left: 35px;
      font-family: "Heebo", sans-serif;
      font-weight: 500; }
      .furnt2 .feature_item h4 span {
        font-size: 24px;
        padding-right: 15px;
        font-weight: 600;
        position: absolute;
        left: 0px;
        top: 40%;
        transform: translateY(-50%); }
    .furnt2 .feature_item p {
      color: #777777;
      font-size: 14px; }

.feature_item:hover {
  background-color: #fff;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1); }
  .feature_item:hover h4 {
    color: #ff9800; }

/*============projects=============*/
.projects_area {
  padding: 0 !important;
  width: 100%; }
  .projects_area .row {
    width: 100%;
    margin: 0;
    overflow: hidden; }
  .projects_area .projects_item {
    position: relative; }
    .projects_area .projects_item img {
      width: 100%;
      height: 490px; }
    .projects_area .projects_item .projects-hover {
      position: absolute;
      bottom: -100%;
      padding: 30px;
      background-color: #ff9800;
      color: #fff;
      transition: all linear 0.5s; }
      .projects_area .projects_item .projects-hover h4 {
        font-family: "Heebo", sans-serif;
        margin-bottom: 15px;
        font-weight: 500; }
      .projects_area .projects_item .projects-hover p {
        font-family: "Roboto", sans-serif;
        font-size: 14px; }

.projects_item:hover .projects-hover {
  bottom: 0; }

.projects_item1 {
  width: 33.3333333333%; }

.projects_item2 {
  width: 33.3333333333%; }

.projects_item3 {
  width: 33.3333333333%; }

@media screen and (max-width: 800px) {
  .row {
    width: 100%;
    padding: 0 20px; }

  .projects_item1 {
    width: 100%; }

  .projects_item2 {
    width: 100%; }

  .projects_item3 {
    width: 100%; } }
/*=======imgprevre-area========*/
.imgprevre-area {
  background: url(../img/notify-bg.jpg) no-repeat scroll;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }
  .imgprevre-area .impress_inner {
    color: #fff; }
    .imgprevre-area .impress_inner h2 {
      font-size: 40px;
      text-transform: uppercase;
      font-family: "Heebo", sans-serif;
      font-weight: 500; }
    .imgprevre-area .impress_inner p {
      margin: 30px auto;
      width: 70%; }

/*=========blog-section==========*/
.blog-section {
  background-color: #fff; }
  .blog-section .furnitur-dec p {
    font-size: 14px;
    color: #777777; }
  .blog-section .row .card {
    border: none; }
    .blog-section .row .card .blog_text {
      margin-top: 20px;
      text-align: left; }
      .blog-section .row .card .blog_text .blog_cat {
        margin-bottom: 20px; }
        .blog-section .row .card .blog_text .blog_cat a {
          display: inline-block;
          padding: 10px 15px;
          border: 1px solid #eeeeee;
          color: #000;
          transition: all 300ms linear 0.5s; }
        .blog-section .row .card .blog_text .blog_cat .active {
          background-color: #ff9800;
          color: #fff; }
      .blog-section .row .card .blog_text a {
        color: #000; }
        .blog-section .row .card .blog_text a h4 {
          text-transform: uppercase;
          font-family: "Heebo", sans-serif;
          font-weight: 500; }
      .blog-section .row .card .blog_text p {
        font-size: 14px;
        color: #777777; }

.blog_cat a:hover {
  background-color: #ff9800;
  color: #fff !important;
  text-decoration: none; }

.headblog:hover {
  color: #ff9800 !important;
  text-decoration: none; }

/*========clients_logo========*/
.clients_logo_area {
  background: #f9f9ff; }

.item {
  width: 150px !important;
  margin: 0 30px !important;
  text-align: center;
  height: 70px;
  cursor: pointer; }
  .item img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all 300ms linear 0.5s; }

.item:hover img {
  opacity: 1; }

/*========footer========*/
footer {
  background-color: #222222;
  color: #fff; }

.footeritem {
  margin-top: 30px; }
  .footeritem h3 {
    text-transform: uppercase;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 500; }
  .footeritem p {
    font-size: 14px;
    color: #777777;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px; }
  .footeritem .input-group {
    margin-top: 20px; }
    .footeritem .input-group .form-control {
      height: 40px;
      background: #fff;
      border-radius: 0px;
      width: 80%;
      border: none;
      padding: 0px 15px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #cccccc;
      outline: none;
      box-shadow: none; }
    .footeritem .input-group button {
      border-radius: 0px;
      background: #faba00;
      outline: none !important;
      box-shadow: none !important;
      padding: 0px 10px;
      width: 42px;
      cursor: pointer;
      color: #fff;
      border: none; }

.socielmedia {
  margin-top: 20px; }
  .socielmedia span {
    display: inline-block;
    margin-right: 10px; }
    .socielmedia span a {
      color: #fff;
      font-size: 14px;
      transition: all 300ms linear 0.5s; }

.socielmedia span a:hover {
  color: #ff9800; }

/*============mediagenarl==============*/
@media screen and (max-width: 800px) {
  .furnitures .furnitur-dec h2 {
    font-size: 28px; }

  .furnitures .furnitur-dec p {
    font-size: 14px; }

  .furnitures .furnitur-dec h2 {
    font-size: 26px; }

  .imgprevre-area .impress_inner h2 {
    font-size: 26px; } }
/*=======About-Padge========*/
/*=================Styel About Page============*/
/*=================about-header-benner============*/
.header-benner {
  background: url(../img/banner/banner.jpg) no-repeat scroll center center;
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 430px; }
  .header-benner .overload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0e0f7a; }
  .header-benner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
    .header-benner .container .banner_content {
      color: #fff; }
      .header-benner .container .banner_content h2 {
        font-family: "Heebo", sans-serif;
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px; }
      .header-benner .container .banner_content .page_link a,
      .header-benner .container .banner_content .page_link span {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 14px; }

@media screen and (max-width: 800px) {
  .header-benner .container .banner_content h2 {
    font-size: 28px; } }
/*=================about-header-benner============*/
.about_inner .about_left_text {
  margin-bottom: 20px; }
  .about_inner .about_left_text h6 {
    color: #c6b069;
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 500; }
  .about_inner .about_left_text h3 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 30px 0;
    color: #222222; }
  .about_inner .about_left_text h5 {
    color: #222222;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 500; }
  .about_inner .about_left_text p {
    font-size: 14px;
    color: #777; }

.img-fluid {
  max-width: 100%;
  height: 100%; }

@media screen and (max-width: 800px) {
  .about_inner .about_left_text h3 {
    font-size: 28px; }
  .about_inner .about_left_text h5 {
    font-size: 18px; } }
/*=======Project-Padge========*/
/*=================Styel Project Page============*/
.project-dec {
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  .project-dec h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .project-dec p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #777; }

/*============mediagenarl==============*/
@media screen and (max-width: 800px) {
  .project-dec {
    width: 80%; }

  .project-dec h2 {
    font-size: 26px; } }
/*=======Project-Details========*/
/*=================Styel Project Details Page============*/
.project-details {
  background-color: #f9f9ff; }

.lavendar .left-doc {
  margin-bottom: 30px; }
.lavendar .lavendec {
  border-top: 1px solid #e6e6e6; }
.lavendar p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777;
  margin: 30px 0; }
.lavendar .right-doc {
  padding-left: 50px;
  color: #222;
  margin-bottom: 30px; }
  .lavendar .right-doc h2 {
    font-family: "Heebo", sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase; }
  .lavendar .right-doc .list li {
    margin-bottom: 15px; }
    .lavendar .right-doc .list li .listtitle {
      font-weight: bold;
      display: inline-block;
      width: 100px; }
    .lavendar .right-doc .list li .listdec {
      color: #777; }
    .lavendar .right-doc .list li .liststar {
      color: #f1cd09;
      font-size: 14px; }

@media screen and (max-width: 800px) {
  .right-doc {
    padding-left: 15px !important;
    border-top: 1px solid #e6e6e6;
    padding-top: 30px; } }
/*=======Blog-Details========*/
/*Genral-style*/
body {
  font-family: "Roboto", sans-serif; }

.contner {
  width: 95%;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.p-120 {
  padding: 120px 0; }

/*============nav==========*/
.navbar-brand img {
  width: 150px;
  height: 60px; }
.navbar-brand .logowihet {
  display: block; }
.navbar-brand .logoblack {
  display: none; }

.header-intero {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 199; }

.dropdown-toggle::after {
  content: none !important; }

.header-contenr .bg-light {
  background: transparent !important;
  padding: 10px 0px !important;
  border: 0px !important;
  border-radius: 0px !important; }
  .header-contenr .bg-light .nav-link {
    color: #ff9800;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block; }
  .header-contenr .bg-light .nav-link:hover {
    color: #ff9800 !important; }

.navbar_fixed {
  background-color: #fff !important; }
  .navbar_fixed .navbar-brand .logowihet {
    display: none; }
  .navbar_fixed .navbar-brand .logoblack {
    display: block; }

@media screen and (max-width: 800px) {
  .header-contenr .bg-light {
    background: rgba(193, 193, 193, 0.8) !important; }

  .navbar_fixed .bg-light {
    background-color: #fff !important; } }
/*=====header=====*/
.header-benner {
  background: url(../img/banner/home-banner.jpg) no-repeat scroll center center;
  background-size: auto;
  background-size: cover;
  width: 100%; }
  .header-benner .header-info {
    padding: 100px 0; }
  .header-benner .header-info .container {
    position: relative; }
  .header-benner .header-info .row {
    display: flex;
    flex-wrap: wrap;
    color: #fff; }
    .header-benner .header-info .row .dichead {
      align-self: center; }
      .header-benner .header-info .row .dichead .h1 {
        font-family: "Heebo", sans-serif;
        font-size: 36px;
        line-height: 45px;
        font-weight: 500; }
      .header-benner .header-info .row .dichead p {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        margin: 20px 0; }

.banner_btn {
  margin-right: 0px;
  display: inline-block;
  background: #ff9800;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 148px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ff9800;
  line-height: 48px;
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear 0s; }

.banner_btn:hover {
  background: transparent;
  color: #ff9800;
  text-decoration: none; }

i::before {
  font-size: 40px;
  color: #fff;
  margin-left: 0px; }

.flaticon-sofa::before {
  content: "\f104"; }

.home_right_box {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 180px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px; }
  .home_right_box .home_item {
    flex: 0 0 50%;
    color: #fff;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 150px;
    cursor: pointer;
    transition: all 300ms linear 0s; }
    .home_right_box .home_item span {
      font-size: 40px; }

.home_item:hover {
  background-color: #ff9800; }

.home_item:nth-child(2n + 1) {
  border-right: 1px solid rgba(255, 255, 255, 0.1); }

.home_item:nth-child(5),
.home_item:nth-child(6) {
  border-bottom: none; }

@media screen and (max-width: 800px) {
  .dichead {
    margin: 80px 0; }

  .home_right_box {
    margin: 90px 0; } }
@media screen and (max-width: 560px) {
  .home_right_box {
    display: none; } }
/*=====furnitures======*/
.furnitures {
  background: #f9f9ff;
  color: #222222; }
  .furnitures .furnitur-dec {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    .furnitures .furnitur-dec h2 {
      font-family: "Heebo", sans-serif;
      font-size: 36px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .furnitures .furnitur-dec p {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      margin: 20px 0 50px 0; }
  .furnitures .row {
    text-align: center; }
    .furnitures .row .card {
      border: 1px solid #f0eeee;
      max-width: 360px;
      margin: 0px auto 30px; }
      .furnitures .row .card .card-body {
        background-color: #f9f9ff; }
        .furnitures .row .card .card-body .card-title {
          font-weight: bold;
          transition: all 300ms linear 0.5s; }
        .furnitures .row .card .card-body .card-text {
          font-size: 14px;
          color: #777777; }

.card:hover .card-title {
  color: #ff9800; }

.furnt2 {
  background-color: #fff; }
  .furnt2 .feature_item {
    background: #f9f9ff;
    padding: 40px 40px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 300ms linear 0.5s;
    cursor: pointer; }
    .furnt2 .feature_item h4 {
      font-size: 20px;
      color: #222222;
      margin-bottom: 20px;
      text-transform: uppercase;
      transition: all 300ms linear 0.5s;
      position: relative;
      padding-left: 35px;
      font-family: "Heebo", sans-serif;
      font-weight: 500; }
      .furnt2 .feature_item h4 span {
        font-size: 24px;
        padding-right: 15px;
        font-weight: 600;
        position: absolute;
        left: 0px;
        top: 40%;
        transform: translateY(-50%); }
    .furnt2 .feature_item p {
      color: #777777;
      font-size: 14px; }

.feature_item:hover {
  background-color: #fff;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1); }
  .feature_item:hover h4 {
    color: #ff9800; }

/*============projects=============*/
.projects_area {
  padding: 0 !important;
  width: 100%; }
  .projects_area .row {
    width: 100%;
    margin: 0;
    overflow: hidden; }
  .projects_area .projects_item {
    position: relative; }
    .projects_area .projects_item img {
      width: 100%;
      height: 490px; }
    .projects_area .projects_item .projects-hover {
      position: absolute;
      bottom: -100%;
      padding: 30px;
      background-color: #ff9800;
      color: #fff;
      transition: all linear 0.5s; }
      .projects_area .projects_item .projects-hover h4 {
        font-family: "Heebo", sans-serif;
        margin-bottom: 15px;
        font-weight: 500; }
      .projects_area .projects_item .projects-hover p {
        font-family: "Roboto", sans-serif;
        font-size: 14px; }

.projects_item:hover .projects-hover {
  bottom: 0; }

.projects_item1 {
  width: 33.3333333333%; }

.projects_item2 {
  width: 33.3333333333%; }

.projects_item3 {
  width: 33.3333333333%; }

@media screen and (max-width: 800px) {
  .row {
    width: 100%;
    padding: 0 20px; }

  .projects_item1 {
    width: 100%; }

  .projects_item2 {
    width: 100%; }

  .projects_item3 {
    width: 100%; } }
/*=======imgprevre-area========*/
.imgprevre-area {
  background: url(../img/notify-bg.jpg) no-repeat scroll;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }
  .imgprevre-area .impress_inner {
    color: #fff; }
    .imgprevre-area .impress_inner h2 {
      font-size: 40px;
      text-transform: uppercase;
      font-family: "Heebo", sans-serif;
      font-weight: 500; }
    .imgprevre-area .impress_inner p {
      margin: 30px auto;
      width: 70%; }

/*=========blog-section==========*/
.blog-section {
  background-color: #fff; }
  .blog-section .furnitur-dec p {
    font-size: 14px;
    color: #777777; }
  .blog-section .row .card {
    border: none; }
    .blog-section .row .card .blog_text {
      margin-top: 20px;
      text-align: left; }
      .blog-section .row .card .blog_text .blog_cat {
        margin-bottom: 20px; }
        .blog-section .row .card .blog_text .blog_cat a {
          display: inline-block;
          padding: 10px 15px;
          border: 1px solid #eeeeee;
          color: #000;
          transition: all 300ms linear 0.5s; }
        .blog-section .row .card .blog_text .blog_cat .active {
          background-color: #ff9800;
          color: #fff; }
      .blog-section .row .card .blog_text a {
        color: #000; }
        .blog-section .row .card .blog_text a h4 {
          text-transform: uppercase;
          font-family: "Heebo", sans-serif;
          font-weight: 500; }
      .blog-section .row .card .blog_text p {
        font-size: 14px;
        color: #777777; }

.blog_cat a:hover {
  background-color: #ff9800;
  color: #fff !important;
  text-decoration: none; }

.headblog:hover {
  color: #ff9800 !important;
  text-decoration: none; }

/*========clients_logo========*/
.clients_logo_area {
  background: #f9f9ff; }

.item {
  width: 150px !important;
  margin: 0 30px !important;
  text-align: center;
  height: 70px;
  cursor: pointer; }
  .item img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all 300ms linear 0.5s; }

.item:hover img {
  opacity: 1; }

/*========footer========*/
footer {
  background-color: #222222;
  color: #fff; }

.footeritem {
  margin-top: 30px; }
  .footeritem h3 {
    text-transform: uppercase;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 500; }
  .footeritem p {
    font-size: 14px;
    color: #777777;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px; }
  .footeritem .input-group {
    margin-top: 20px; }
    .footeritem .input-group .form-control {
      height: 40px;
      background: #fff;
      border-radius: 0px;
      width: 80%;
      border: none;
      padding: 0px 15px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #cccccc;
      outline: none;
      box-shadow: none; }
    .footeritem .input-group button {
      border-radius: 0px;
      background: #faba00;
      outline: none !important;
      box-shadow: none !important;
      padding: 0px 10px;
      width: 42px;
      cursor: pointer;
      color: #fff;
      border: none; }

.socielmedia {
  margin-top: 20px; }
  .socielmedia span {
    display: inline-block;
    margin-right: 10px; }
    .socielmedia span a {
      color: #fff;
      font-size: 14px;
      transition: all 300ms linear 0.5s; }

.socielmedia span a:hover {
  color: #ff9800; }

/*============mediagenarl==============*/
@media screen and (max-width: 800px) {
  .furnitures .furnitur-dec h2 {
    font-size: 28px; }

  .furnitures .furnitur-dec p {
    font-size: 14px; }

  .furnitures .furnitur-dec h2 {
    font-size: 26px; }

  .imgprevre-area .impress_inner h2 {
    font-size: 26px; } }
/*================Styel Blog Details Page ================*/
/*===========blogpost-left==============*/
/*=======blogpost=======*/
.blogdetails {
  background-color: #fff; }

.blogpost h2 {
  font-family: "Heebo", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222;
  transition: all 300ms linear 0.5s;
  cursor: pointer; }
.blogpost h2:hover {
  color: #ff9800; }
.blogpost p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #777;
  margin: 20px 0; }
.blogpost .blogpost1 {
  margin-bottom: 30px; }

/*=======blogpost=======*/
/*==========blogpostesr=========*/
.blogpostesr .bloglist a {
  color: #222222; }
.blogpostesr .bloglist :nth-child(2) {
  color: #ff9800; }
.blogpostesr .bloglistscowel {
  margin: 30px 0; }
  .blogpostesr .bloglistscowel li {
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer; }
    .blogpostesr .bloglistscowel li span {
      color: #777;
      font-size: 14px;
      margin-right: 10px; }
    .blogpostesr .bloglistscowel li .titleicon {
      width: 75%;
      display: inline-block; }
.blogpostesr .socielmedia a {
  color: #777; }

/*=========quotes========*/
.quotes {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 24px 35px 24px 30px;
  background-color: white;
  box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
  font-size: 14px;
  line-height: 24px;
  color: #777;
  font-style: italic; }

.thumb {
  position: relative;
  cursor: pointer; }
  .thumb .arrow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #444343a8;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    line-height: 60px;
    opacity: 0;
    transition: all 300ms linear 0.5s; }
    .thumb .arrow span {
      color: #fff;
      font-size: 24px; }

.nav-left {
  text-align: left; }
  .nav-left .detials {
    padding-left: 20px; }

.nav-right {
  text-align: right; }
  .nav-right .detials {
    padding-right: 20px; }

.thumb:hover .arrow {
  opacity: 1; }

.detials span {
  color: #777;
  font-size: 14px; }
.detials h4 {
  font-family: "Heebo", sans-serif;
  color: #222;
  font-size: 18px;
  font-weight: 500; }

/*===========prevarwo============*/
.prevarwo {
  border-top: 1px solid #eee;
  padding-top: 30px;
  margin-top: 60px; }

/*==============comments-area================*/
.comments-area {
  background-color: #f9f9ff;
  border: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px;
  width: 100%; }
  .comments-area input,
  .comments-area textarea {
    border: 1px solid #f6f7f9;
    margin: 10px 0; }
  .comments-area h4 {
    font-family: "Heebo", sans-serif;
    color: #222;
    font-size: 24px;
    font-weight: 500;
    text-align: center; }
  .comments-area .butnreplay .btn-outline-warning {
    background-color: #fff;
    color: #222;
    border: 1px solid #cccccc;
    border: 5px;
    font-weight: bold;
    font-size: 14px; }
  .comments-area .butnreplay .btn-outline-warning:hover {
    color: #fff;
    background-color: #ff9800; }
  .comments-area .flex-grow-1 {
    margin-left: 20px; }
    .comments-area .flex-grow-1 h5 {
      font-size: 16px;
      font-weight: bold; }
    .comments-area .flex-grow-1 span {
      display: block;
      color: #777;
      font-size: 14px;
      margin-bottom: 20px; }

/*==============comments-item================*/
.comment-item {
  margin: 20px 0; }

.comment-item:nth-child(2),
.comment-item:nth-child(3) {
  padding-left: 50px; }

.butnform {
  text-align: center; }
  .butnform .butn-form {
    background-color: #ff9800;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    transition: all 300ms linear 0.5s; }
  .butnform .butn-form:hover {
    background-color: #fff;
    color: #ff9800;
    border: 1px solid #ff9800; }

@media screen and (max-width: 800px) {
  .prevarwo .nav-right {
    margin-top: 40px; }

  .comment-item {
    padding: 0 !important; }

  .comments-area .flex-grow-1 span {
    font-size: 12px; }

  .blogpostesr {
    margin-bottom: 20px; }

  .blogdetails .container {
    width: 96% !important;
    padding-left: 5px;
    padding-right: 5px; }
    .blogdetails .container .row {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0 !important;
      margin-right: 0 !important; }
      .blogdetails .container .row .col-lg-8 {
        margin-bottom: 20px; } }
/*=================================================*/
/*===========blogpost-right==============*/
.blogright {
  background-color: #f9f9ff;
  border: 1px solid #eee;
  padding: 30px; }

.blogright-info {
  /*======input-search-group======*/
  /*======input-search_widget======*/
  /*======auter-group======*/
  /*==========popular_widget=========*/
  /*======post_widget======*/
  /*======newsletter_widget======*/
  /*==========tag_cloud_widget============*/ }
  .blogright-info .single_sidebar_widget {
    width: 100%;
    padding-bottom: 30px;
    margin: 20px 0;
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: center; }
  .blogright-info .search_widget .input-group {
    border-radius: 25px;
    border: none;
    background-color: #ff9800;
    color: #fff !important; }
    .blogright-info .search_widget .input-group .form-control {
      background-color: #ff9800;
      border: none;
      color: #fff !important;
      border-radius: 25px; }
    .blogright-info .search_widget .input-group .btn {
      color: #777 !important; }
  .blogright-info .auter_widget h3 {
    margin: 20px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: "Heebo", sans-serif; }
  .blogright-info .auter_widget p {
    font-size: 14px;
    color: #777; }
  .blogright-info .auter_widget .socielmedia span a {
    color: #222; }
  .blogright-info .auter_widget .auter-widget-dc {
    font-size: 14px;
    color: #777;
    margin: 20px 0 10px 0; }
  .blogright-info .popular_widget h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff9800;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Heebo", sans-serif; }
  .blogright-info .popular_widget .post_item {
    margin-bottom: 20px; }
    .blogright-info .popular_widget .post_item img {
      height: 100%; }
    .blogright-info .popular_widget .post_item .media-body {
      padding: 0 8px;
      text-align: left; }
      .blogright-info .popular_widget .post_item .media-body h4 {
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        margin: 0;
        margin-bottom: 5px; }
      .blogright-info .popular_widget .post_item .media-body p {
        font-size: 13px;
        color: #777;
        margin: 0; }
  .blogright-info .post_widget h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff9800;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Heebo", sans-serif; }
  .blogright-info .post_widget .cat-list li {
    border-bottom: 2px dotted #777;
    padding: 8px 0;
    transition: all 300ms linear 0.5s; }
    .blogright-info .post_widget .cat-list li a {
      color: #777;
      transition: all 300ms linear 0.5s; }
  .blogright-info .post_widget .cat-list li:hover {
    border-color: #ff9800 !important; }
    .blogright-info .post_widget .cat-list li:hover a {
      color: #ff9800 !important; }
  .blogright-info .post_widget .cat-list li:last-child {
    border: none !important; }
  .blogright-info .newsletter_widget h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff9800;
    padding: 10px 0;
    color: #fff;
    font-family: "Heebo", sans-serif; }
  .blogright-info .newsletter_widget .newsletter-dec,
  .blogright-info .newsletter_widget p {
    font-size: 14px;
    color: #777;
    margin: 30px 0; }
  .blogright-info .newsletter_widget .form-group .input-group {
    border: 1px solid #eee; }
    .blogright-info .newsletter_widget .form-group .input-group .input-group-text {
      background-color: #fff !important;
      border: none !important; }
    .blogright-info .newsletter_widget .form-group .input-group .form-control {
      background-color: #fff;
      border: 1px solid #fff;
      font-size: 12px; }
  .blogright-info .newsletter_widget .form-group .bbtns {
    background: #ff9800;
    color: #fff;
    font-size: 12px;
    line-height: 38px;
    display: inline-block;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 0; }
  .blogright-info .tag_cloud_widget h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff9800;
    padding: 10px 0;
    color: #fff;
    font-family: "Heebo", sans-serif; }
  .blogright-info .tag_cloud_widget .list li {
    display: inline-block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #eee;
    cursor: pointer;
    margin-bottom: 8px; }
    .blogright-info .tag_cloud_widget .list li a {
      transition: all 0.3s ease 0s;
      color: #222222;
      font-size: 12px;
      font-weight: bold; }
  .blogright-info .tag_cloud_widget .list li:hover {
    background-color: #ff9800; }
    .blogright-info .tag_cloud_widget .list li:hover a {
      color: #fff; }

.form-control:focus,
.btn:focus {
  outline: 0;
  box-shadow: none; }

/*============mediagenarl==============*/
@media screen and (max-width: 800px) {
  .blogpost h2 {
    font-size: 28px; } }
/*=======Blog========*/
/*=================Styel Blog Page============*/
/*=================blog-header-benner============*/
.blog-benner {
  background: url(../img/banner/banner-2.jpg) no-repeat scroll center center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-attachment: fixed; }
  .blog-benner .overload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0e0f7a; }
  .blog-benner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; }
    .blog-benner .container .banner_content {
      color: #fff; }
      .blog-benner .container .banner_content h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: bold;
        margin-bottom: 15px; }

.white_bg_btn {
  display: inline-block;
  padding: 10px 35px;
  background-color: #fff;
  text-transform: uppercase;
  color: #222;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0 40px 0;
  border-radius: 5px;
  transition: all 300ms linear 0.5s; }

.white_bg_btn:hover {
  background-color: #ff9800 !important;
  color: #fff !important;
  text-decoration: none !important; }

/*===========categorie_item====================*/
.blogdetails {
  margin-bottom: 50px; }

.categorie_item {
  position: relative;
  text-align: center;
  cursor: pointer; }
  .categorie_item img {
    width: 100%;
    height: 100%; }
  .categorie_item .categories_details {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: all 300ms linear 0.5s; }
    .categorie_item .categories_details .categories_text a {
      color: #fff; }
      .categorie_item .categories_details .categories_text a h5 {
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        text-transform: uppercase; }
    .categorie_item .categories_details .categories_text .border_line {
      margin: 10px 0px;
      background: #fff;
      width: 100%;
      height: 1px; }
    .categorie_item .categories_details .categories_text p {
      font-size: 14px;
      font-family: "Roboto", sans-serif; }

.categorie_item:hover .categories_details {
  background-color: #ff9800d6; }

/*============blog_area==================*/
.blog_area {
  /*=====blog_area-left=====*/
  /*=============blog_area-right===========*/ }
  .blog_area .blog_area-item1 {
    padding-top: 35px; }
  .blog_area .blog_post img {
    width: 100%;
    height: 100%; }
  .blog_area .blog_post .blogpostlist h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222;
    transition: all 300ms linear 0.5s;
    cursor: pointer;
    margin-top: 20px; }
  .blog_area .blog_post .blogpostlist h2:hover {
    color: #ff9800; }
  .blog_area .blog_post .blogpostlist p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #777;
    margin: 20px 0; }
  .blog_area .blog_post .blogpostlist .white_bg_btn {
    border: 1px solid #eeeeee;
    background: #f9f9ff;
    padding: 10px 20px;
    font-size: 14px; }

/*===========blog-pagination============*/
.blog-pagination .pagination .page-link {
  color: #8a8a8a !important;
  border: none !important; }
.blog-pagination .pagination .page-link:hover {
  color: #fff !important;
  background-color: #ff9800 !important; }
.blog-pagination .pagination .active .page-link {
  color: #fff !important;
  background-color: #ff9800 !important; }

/*============mediagenarl==============*/
@media screen and (max-width: 800px) {
  .blog-benner .container .banner_content h2 {
    font-size: 32px; }

  .blog-benner .container .banner_content p {
    font-size: 14px;
    margin: 40px 0; }

  .white_bg_btn {
    font-size: 14px; } }
/*=======Elementes========*/
/*=================Styel Element Page============*/
/*=================Element-text-area============*/
.sample-text-area h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 15px; }
.sample-text-area p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #777;
  margin: 20px 0; }
  .sample-text-area p b,
  .sample-text-area p i,
  .sample-text-area p sup,
  .sample-text-area p sub,
  .sample-text-area p del,
  .sample-text-area p u {
    color: #ff9800; }

/*=========contactus=========*/
.mapBox {
  height: 420px;
  margin-bottom: 80px; }

.contact_info .info_item {
  width: 250px; }
  .contact_info .info_item span {
    color: #ff9800;
    font-size: 20px;
    margin-right: 15px; }
  .contact_info .info_item h6 {
    display: inline-block;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif; }
  .contact_info .info_item p {
    font-size: 14px;
    color: #777; }

.contact_form .form-group textarea.form-control {
  height: 140px; }

/*# sourceMappingURL=styles.css.map */
