/*Genral-style*/
$maincolor: #ff9800;
$wihetcolor: #fff;
$backcolor: #f9f9ff;
$fontgenarl: "Roboto", sans-serif;
$fontgenhed: "Heebo", sans-serif;
$fontsizep: 14px;
body {
  font-family: $fontgenarl;
}
.contner {
  width: 95%;
  margin: 0 auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.p-120 {
  padding: 120px 0;
}
/*============nav==========*/
.navbar-brand {
  img {
    width: 150px;
    height: 60px;
  }
  .logowihet {
    display: block;
  }
  .logoblack {
    display: none;
  }
}
.header-intero {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 199;
}
.dropdown-toggle::after {
  content: none !important;
}
.header-contenr .bg-light {
  background: transparent !important;
  padding: 10px 0px !important;
  border: 0px !important;
  border-radius: 0px !important;
  .nav-link {
    color: $maincolor;
    font-family: $fontgenarl;
    font-size: $fontsizep;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
  }
  .nav-link:hover {
    color: $maincolor !important;
  }
}
.navbar_fixed {
  background-color: $wihetcolor !important;
  .navbar-brand {
    .logowihet {
      display: none;
    }
    .logoblack {
      display: block;
    }
  }
}
@media screen and (max-width: 800px) {
  .header-contenr .bg-light {
    background: rgba(193, 193, 193, 0.8) !important;
  }

  .navbar_fixed {
    .bg-light {
      background-color: $wihetcolor !important;
    }
  }
}
/*=====header=====*/
.header-benner {
  background: url(../img/banner/home-banner.jpg) no-repeat scroll center center;
  background-size: auto;
  background-size: cover;
  width: 100%;
  .header-info {
    padding: 100px 0;
  }
  .header-info .container {
    position: relative;
  }
  .header-info .row {
    display: flex;
    flex-wrap: wrap;
    color: $wihetcolor;
    .dichead {
      align-self: center;
      .h1 {
        font-family: $fontgenhed;
        font-size: 36px;
        line-height: 45px;
        font-weight: 500;
      }
      p {
        font-family: $fontgenarl;
        font-size: $fontsizep;
        margin: 20px 0;
      }
    }
  }
}
.banner_btn {
  margin-right: 0px;
  display: inline-block;
  background: $maincolor;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 148px;
  font-size: $fontsizep;
  font-weight: 500;
  border: 1px solid $maincolor;
  line-height: 48px;
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear 0s;
}
.banner_btn:hover {
  background: transparent;
  color: $maincolor;
  text-decoration: none;
}

i::before {
  font-size: 40px;
  color: #fff;
  margin-left: 0px;
}
.flaticon-sofa::before {
  content: "\f104";
}
.home_right_box {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 180px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  .home_item {
    flex: 0 0 50%;
    color: #fff;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 150px;
    cursor: pointer;
    transition: all 300ms linear 0s;
    span {
      font-size: 40px;
    }
  }
}
.home_item:hover {
  background-color: $maincolor;
}
.home_item:nth-child(2n + 1) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.home_item:nth-child(5),
.home_item:nth-child(6) {
  border-bottom: none;
}
@media screen and (max-width: 800px) {
  .dichead {
    margin: 80px 0;
  }
  .home_right_box {
    margin: 90px 0;
  }
}
@media screen and (max-width: 560px) {
  .home_right_box {
    display: none;
  }
}
/*=====furnitures======*/
.furnitures {
  background: $backcolor;
  color: #222222;
  .furnitur-dec {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-family: $fontgenhed;
      font-size: 36px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    p {
      font-family: $fontgenarl;
      font-size: $fontsizep;
      margin: 20px 0 50px 0;
    }
  }
  .row {
    text-align: center;
    .card {
      border: 1px solid rgb(240, 238, 238);
      max-width: 360px;
      margin: 0px auto 30px;
      .card-body {
        background-color: #f9f9ff;
        .card-title {
          font-weight: bold;
          transition: all 300ms linear 0.5s;
        }
        .card-text {
          font-size: $fontsizep;
          color: #777777;
        }
      }
    }
  }
}
.card:hover .card-title {
  color: $maincolor;
}

.furnt2 {
  background-color: $wihetcolor;
  .feature_item {
    background: #f9f9ff;
    padding: 40px 40px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 300ms linear 0.5s;
    cursor: pointer;
    h4 {
      font-size: 20px;
      color: #222222;
      margin-bottom: 20px;
      text-transform: uppercase;
      transition: all 300ms linear 0.5s;
      position: relative;
      padding-left: 35px;
      font-family: $fontgenhed;
      font-weight: 500;
      span {
        font-size: 24px;
        padding-right: 15px;
        font-weight: 600;
        position: absolute;
        left: 0px;
        top: 40%;
        transform: translateY(-50%);
      }
    }
    p {
      color: #777777;
      font-size: $fontsizep;
    }
  }
}
.feature_item:hover {
  background-color: $wihetcolor;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  h4 {
    color: $maincolor;
  }
}
/*============projects=============*/
.projects_area {
  padding: 0 !important;
  width: 100%;
  .row {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  .projects_item {
    position: relative;
    img {
      width: 100%;
      height: 490px;
    }
    .projects-hover {
      position: absolute;
      bottom: -100%;
      padding: 30px;
      background-color: $maincolor;
      color: $wihetcolor;
      transition: all linear 0.5s;
      h4 {
        font-family: $fontgenhed;
        margin-bottom: 15px;
        font-weight: 500;
      }
      p {
        font-family: $fontgenarl;
        font-size: $fontsizep;
      }
    }
  }
}
.projects_item:hover .projects-hover {
  bottom: 0;
}
@for $i from 1 through 3 {
  .projects_item#{$i} {
    width: (100% / 3);
  }
}
@media screen and (max-width: 800px) {
  .row {
    width: 100%;
    padding: 0 20px;
  }
  @for $i from 1 through 3 {
    .projects_item#{$i} {
      width: 100%;
    }
  }
}
/*=======imgprevre-area========*/
.imgprevre-area {
  background: url(../img/notify-bg.jpg) no-repeat scroll;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  .impress_inner {
    color: $wihetcolor;
    h2 {
      font-size: 40px;
      text-transform: uppercase;
      font-family: $fontgenhed;
      font-weight: 500;
    }
    p {
      margin: 30px auto;
      width: 70%;
    }
  }
}
/*=========blog-section==========*/
.blog-section {
  background-color: $wihetcolor;
  .furnitur-dec {
    p {
      font-size: $fontsizep;
      color: #777777;
    }
  }
  .row {
    .card {
      border: none;
      .blog_text {
        margin-top: 20px;
        text-align: left;
        .blog_cat {
          margin-bottom: 20px;
          a {
            display: inline-block;
            padding: 10px 15px;
            border: 1px solid #eeeeee;
            color: #000;
            transition: all 300ms linear 0.5s;
          }
          .active {
            background-color: $maincolor;
            color: $wihetcolor;
          }
        }
        a {
          color: #000;
          h4 {
            text-transform: uppercase;
            font-family: $fontgenhed;
            font-weight: 500;
          }
        }
        p {
          font-size: $fontsizep;
          color: #777777;
        }
      }
    }
  }
}
.blog_cat a:hover {
  background-color: $maincolor;
  color: $wihetcolor !important;
  text-decoration: none;
}
.headblog:hover {
  color: $maincolor !important;
  text-decoration: none;
}

/*========clients_logo========*/
.clients_logo_area {
  background: #f9f9ff;
}
.item {
  width: 150px !important;
  margin: 0 30px !important;
  text-align: center;
  height: 70px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all 300ms linear 0.5s;
  }
}
.item:hover img {
  opacity: 1;
}

/*========footer========*/
footer {
  background-color: #222222;
  color: $wihetcolor;
}
.footeritem {
  margin-top: 30px;
  h3 {
    text-transform: uppercase;
    font-family: $fontgenhed;
    font-size: 20px;
    font-weight: 500;
  }
  p {
    font-size: $fontsizep;
    color: #777777;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .input-group {
    margin-top: 20px;
    .form-control {
      height: 40px;
      background: #fff;
      border-radius: 0px;
      width: 80%;
      border: none;
      padding: 0px 15px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #cccccc;
      outline: none;
      box-shadow: none;
    }
    button {
      border-radius: 0px;
      background: #faba00;
      outline: none !important;
      box-shadow: none !important;
      padding: 0px 10px;
      width: 42px;
      cursor: pointer;
      color: #fff;
      border: none;
    }
  }
}
.socielmedia {
  margin-top: 20px;
  span {
    display: inline-block;
    margin-right: 10px;
    a {
      color: $wihetcolor;
      font-size: 14px;
      transition: all 300ms linear 0.5s;
    }
  }
}
.socielmedia span a:hover {
  color: $maincolor;
}

/*============mediagenarl==============*/

@media screen and (max-width: 800px) {
  .furnitures .furnitur-dec h2 {
    font-size: 28px;
  }
  .furnitures .furnitur-dec p {
    font-size: $fontsizep;
  }
  .furnitures .furnitur-dec h2 {
    font-size: 26px;
  }
  .imgprevre-area .impress_inner h2 {
    font-size: 26px;
  }
}
